---
import type {Page} from "astro:content";

import Link from "./Link.astro";

type Props = Page;

const {page: {currentPage, lastPage, url: {prev, next}}} = Astro.props;
---

<div class="space-y-2 pb-8 pt-6 md:space-y-5">
    <nav class="flex justify-between">
        {!prev && (
                <button class="cursor-auto disabled:opacity-50 text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" disabled>← Previous</button>)}
        {prev && (
                <Link class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" href={prev} rel="prev">← Previous</Link>
        )}
        <span class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400">
          {currentPage} of {lastPage}
        </span>
        {!next && (
                <button class="cursor-auto disabled:opacity-50 text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" disabled>Next →</button>
        )}
        {next && (
                <Link class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" href={next} rel="next">Next →</Link>
        )}
    </nav>
</div>
